/* My RSEST */
html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

ul,
ol {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* STYLES */

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #000000;
	min-height: 100vh;
}

.container {
	max-width: 660px;
	margin: 0 auto;
}

.app {
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 77px;
	background-color: #c4c4c4;
}

.input {
	width: 100%;
	padding: 5px 13px;
	font-size: 48px;
	line-height: 56px;
	border: none;
}

.select {
	opacity: 1;
	visibility: visible;
	height: 240px;
	overflow: hidden;
	margin-bottom: 20px;
}

.select--hidden {
	opacity: 0;
	visibility: hidden;
}

.option {
	font-size: 30px;
	line-height: 35px;
	padding: 0 13px 9px;
	background-color: #e3e3e3;
	border: 2px solid #000000;
	overflow: hidden;
}

.option:hover {
	cursor: pointer;
	background-color: #65cdf9;
}

.repos-list {
	width: 100%;
}

.repos-list__content {
	width: 100%;
	padding: 8px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.repos-list__item {
	background: #e27beb;
	border: 1px solid #000000;
	font-size: 24px;
	line-height: 28px;
}

.button {
	position: relative;
	right: 18px;
	background-color: transparent;
	border: none;
	transition: opacity 0.3s;
	cursor: pointer;
}

.button:hover {
	opacity: 0.5;
}
